.gitinore

virt/
__pycache__/hello.cpython-310.pyc
static/images/4ce91270-2673-4485-ab78-295757413572.jpg
migrations/alembic.ini

migrations/env.py
migrations/README
migrations/script.py.mako
migrations/__pycache__/env.cpython-310.pyc
migrations/versions/2324373c106b_migracao_inicial.py
migrations/versions/__pycache__/2324373c106b_migracao_inicial.cpython-310.pyc
