{% extends 'base.html'%}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-dark alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>



{% endfor %}

{% if current_user.is_authenticated %}

<h1>Adicionar Post...</h1>
<br />
<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.title.label(class="form-label") }}
    {{ form.title(class="form-control") }}
    <br/>
    {{ form.slug.label(class="form-label") }}
    {{ form.slug(class="form-control") }}
    <br/>
    {{ form.content.label(class="form-label") }}
    {{ form.content(class="form-control", rows="5") }}
    <br/>

    {{ form.submit(class="btn btn-dark") }}

   

</form>


{% else %}

<h2>Você precisa estar conectado!</h2>
<p>Desculpe, você precosa realizar o login para acessar essa página</p>

<a href="{ url_for('login') }">Realizar o login</a>

{% endif %}

{% endblock %}